<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    {{block "head" .}}
    <title>Page Title</title>
    {{end}}
</head>

<body>
    <header>
        <!-- Site header -->
    </header>

    <main>
        {{block "body" .}}Page not found 😞{{end}}
    </main>

    <footer>
        <!-- Site footer -->
    </footer>
</body>
